<head>
  <style>
  table {
      width:100%;
  }
  table, th, td {
      border: 1px solid darkslategrey;
      border-collapse: collapse;
  }
  th, td {
      padding: 15px;
      text-align: left;
  }
  table#t01 tr:nth-child(even) {
      background-color: lightgrey;
  }
  table#t01 tr:nth-child(odd) {
     background-color: #fff;
  }
  table#t01 th {
      background-color: grey;
      color: white;
  }
  </style>
  </head>
  <h2 style="text-align:center;">BOOK LIST</h2><br>
  <button style="margin: auto; display: block" [routerLink]="['/addbook']" class="btn btn-primary">Add New Book</button>
  <table id="t01"  class="table table-striped">
    <thead >
      <tr>
         <th>Book ID</th>
         <th>Book Name</th>
         <th>Price</th>
         <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let b of bookList">
        <td>{{ b.BookId }}</td>
        <td>{{ b.BookTitle }}</td>
        <td>{{ b.Price | currency: 'INR' }}</td>
        <td>
          <a [routerLink]="['/book-details',b.BookId]">View Details</a>
        </td>
      </tr>
    </tbody>
  </table>